/* line 1, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/./fixedsticky.scss */
.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky; }

/* line 9, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/./fixedsticky.scss */
.fixedsticky-withoutfixedfixed .fixedsticky-on, .fixed-supported .fixedsticky-on {
  position: fixed; }

/* line 12, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/./fixedsticky.scss */
.fixedsticky-dummy {
  display: none; }

/* line 15, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/./fixedsticky.scss */
.fixedsticky-on + .fixedsticky-dummy {
  display: block; }

@-webkit-keyframes sass-fixed-sticky-animation {
  /* line 28, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  from {
    counter-reset: ""; }

  /* line 32, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  to {
    counter-reset: ""; } }

@-moz-keyframes sass-fixed-sticky-animation {
  /* line 28, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  from {
    counter-reset: ""; }

  /* line 32, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  to {
    counter-reset: ""; } }

@-ms-keyframes sass-fixed-sticky-animation {
  /* line 28, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  from {
    counter-reset: ""; }

  /* line 32, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  to {
    counter-reset: ""; } }

@keyframes sass-fixed-sticky-animation {
  /* line 28, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  from {
    counter-reset: ""; }

  /* line 32, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  to {
    counter-reset: ""; } }

/* line 3, /Users/pauldufour/Repositories/sass-fixed-sticky/test/demo.scss */
#container {
  height: 9000px;
  padding: 300px 0; }

/* line 8, /Users/pauldufour/Repositories/sass-fixed-sticky/test/demo.scss */
#fixme {
  width: 200px;
  height: 200px;
  background: orange;
  color: purple;
  top: 0; }
  /* line 39, /Users/pauldufour/Repositories/sass-fixed-sticky/dist/sass-fixed-sticky */
  #fixme {
    animation-duration: 0.001s;
    animation-name: sass-fixed-sticky-animation;
    -webkit-animation-duration: 0.001s;
    -webkit-animation-name: sass-fixed-sticky-animation; }

/* line 17, /Users/pauldufour/Repositories/sass-fixed-sticky/test/demo.scss */
#dontfixme {
  display: inline;
  position: relative; }
