@import "sass-fixed-sticky";

#container {
	height: 9000px;
	padding: 300px 0;
}

#fixme {
	@include position(sticky);
	width: 200px;
	height: 200px;
	background: orange;
	color: purple;
	top: 0;
}

#dontfixme {
	display: inline;
	@include position(relative);
}