.fixed-supported .fixedsticky-on,.fixedsticky-withoutfixedfixed .fixedsticky-on{position:fixed}
.fixedsticky-dummy{display:none}
.fixedsticky-on+.fixedsticky-dummy{display:block}
@-webkit-keyframes sass-fixed-sticky-animation{from,to{counter-reset:""}}
@-moz-keyframes sass-fixed-sticky-animation{from,to{counter-reset:""}}
@-ms-keyframes sass-fixed-sticky-animation{from,to{counter-reset:""}}
@keyframes sass-fixed-sticky-animation{from,to{counter-reset:""}}
#container{height:9000px;padding:300px 0}
#fixme{width:200px;height:200px;background:orange;color:purple;top:0;animation-duration:.001s;animation-name:sass-fixed-sticky-animation;-webkit-animation-duration:.001s;-webkit-animation-name:sass-fixed-sticky-animation}
#dontfixme{display:inline;position:relative}