// Only include once
$included-once: false;

@if ($included-once == false) {
	$included-once: true;

	@import "./fixedsticky.scss";

	@mixin keyframes($name) {
	  @-webkit-keyframes #{$name} {
	    @content;
	  }

	  @-moz-keyframes #{$name} {
	    @content;
	  }

	  @-ms-keyframes #{$name} {
	    @content;
	  }

	  @keyframes #{$name} {
	    @content;
	  }
	}

	@include keyframes(sass-fixed-sticky-animation) {
		from {
		 counter-reset: "";
		}

		to {
		 counter-reset: "";
		}
	}

	@mixin position($args...) {
		@if (nth($args, 1) == 'sticky') {
			// Animate this element so you will be able to tell in Javascript which
			// elements fixedsticky should be applied to.
			& {
				animation-duration: 0.001s;
				animation-name: sass-fixed-sticky-animation;
				-webkit-animation-duration: 0.001s;
				-webkit-animation-name: sass-fixed-sticky-animation;
			}
		} @else {
			position: $args;
		}
	}
}