// Only include once
$included-once: false;

@if ($included-once == false) {
	$included-once: true;

	@import "./fixedsticky.scss";

	@mixin keyframes($name) {
	  @-webkit-keyframes #{$name} {
	    @content;
	  }

	  @-moz-keyframes #{$name} {
	    @content;
	  }

	  @-ms-keyframes #{$name} {
	    @content;
	  }

	  @keyframes #{$name} {
	    @content;
	  }
	}

	@include keyframes(sass-fixed-sticky-animation) {
		from {
		 counter-reset: "";
		}

		to {
		 counter-reset: "";
		}
	}

	@mixin position($args...) {
		@if (nth($args, 1) == 'sticky') {
			// Animate this element so you will be able to tell in Javascript which
			// elements fixedsticky should be applied to. Loops for a couple seconds, so
			// that way it will work even if the script is not loaded for a while.
			& {
				$animation-duration: 60ms;
				$animation-name: sass-fixed-sticky-animation;
				animation-duration: $animation-duration;;
				animation-name: $animation-name;
				-webkit-animation-duration: $animation-duration;;
				-webkit-animation-name: $animation-name;
				animation-iteration-count: 100;

				&.sass-fixed-sticky-animation-stopped {
					-webkit-animation-play-state: paused;
					-moz-animation-play-state: paused;
					-o-animation-play-state: paused;
					animation-play-state: paused;
				}
			}
		} @else {
			// Add the position like normal
			position: $args;
		}
	}
}
